@model Frontend.Models.EVoucher.EVoucherModel

@{
    ViewData["Title"] = "E-Voucher";
}

<div class="evoucher-container">
    <div id="Getbtn"></div>
    <div class="evoucher-wrapper evoucher-ticker">
        <div class="evoucher-tickerEvent">
            <div>
                <h2>@Model.Ticket.Title</h2>
                <p>DJ Nova, The Rockerz, ElectroBeats, Harmony Crew</p>
            </div>
        </div>
        <div class="evoucher-tickerInfo" id="evoucher-tickerInfo">
            <div class="evoucher-tickerInfo-item">
                <div>
                    <span>
                        <h4>Namn</h4>
                        <p>@Model.Ticket.Name</p>
                    </span>
                    <span>
                        <h4>Ticket Category</h4>
                        <p>@Model.Ticket.Type</p>
                    </span>
                </div>
                <div>
                    <span>
                        <h4>Invoice ID</h4>
                        <p>@Model.Ticket.InvoiceNumber</p>
                    </span>
                    <span>
                        <h4>Seat Number</h4>
                        <p>@Model.Ticket.SeatNumber</p>
                    </span>
                </div>
                <div>
                    <span>
                        <h4>Gate</h4>
                        <p>@Model.Ticket.Gate</p>
                    </span>
                </div>
            </div>
            <div class="evoucher-tickerInfo-item">
                <div>
                    <span>
                        <h4>Location</h4>
                        <p>@Model.Ticket.Location</p>
                    </span>
                    <span>
                        <h4>Date</h4>
                        <p>@Model.Ticket.Date</p>
                    </span>
                </div>
                <div>
                    <span>
                        <h4>Time</h4>
                        <p>@Model.Ticket.Time</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="evoucher-tickerScan">
            <h2>Scan to Enter</h2>
            <div>
                <img src="~/images/Imge/Frame.png" asp-append-version="true" alt="Scane" />
            </div>
            <p>Thank you for your purchase! Enjoy the festival and experience the rhythm like never before.</p>
        </div>
    </div>
    <div class="evoucher-info">
        <div class="evoucher-infoItem">
            <div class="evoucher-wrapper">
                <h3>Event Schedule</h3>
                <ul class="evoucher-scheduleList">
                    <li class="evoucher-scheduleList-Item">
                        <span>10:00 AM - 11:00 AM</span>
                        <span>Gate Opens</span>
                    </li>
                    <li class="evoucher-scheduleList-Item">
                        <span>10:00 AM - 11:00 AM</span>
                        <span>Gate Opens</span>
                    </li>
                    <li class="evoucher-scheduleList-Item">
                        <span>10:00 AM - 11:00 AM</span>
                        <span>Gate Opens</span>
                    </li>
                    <li class="evoucher-scheduleList-Item">
                        <span>10:00 AM - 11:00 AM</span>
                        <span>Gate Opens</span>
                    </li>
                </ul>
            </div>
            <div class="evoucher-wrapper">
                <h3>Terms & Conditions</h3>
                <ol class="evoucher-conditionsList">
                    <li>
                        <p class="evoucher-boldtext">Ticket Purchase and Entry</p>
                        <ul class="evoucher-conditionsUnderList">
                            <li>All attendees must possess a valid ticket for entry.</li>
                            <li>Tickets are non-refundable and non-transferable unless specified by the event organizer.</li>
                            <li>Attendees must present a valid government-issued ID along with their ticket at the gate.</li>
                        </ul>
                    </li>
                    <li>
                        <p class="evoucher-boldtext">Security and Safety</p>
                        <ul class="evoucher-conditionsUnderList">
                            <li>Attendees are subject to security checks, including bag inspections, upon entry.</li>
                            <li>Prohibited items include weapons, drugs, alcohol, fireworks, and other hazardous materials.</li>
                            <li>The event organizer reserves the right to deny entry to individuals deemed a security risk.</li>
                        </ul>
                    </li>
                    <li>
                        <p class="evoucher-boldtext">Code of Conduct</p>
                        <ul class="evoucher-conditionsUnderList">
                            <li>Attendees are expected to behave responsibly and respectfully toward others.</li>
                            <li>Any disruptive behavior, harassment, or illegal activity will result in immediate removal from the event without refund.</li>
                        </ul>
                    </li>
                    <li>
                        <p class="evoucher-boldtext">Event Schedule and Changes</p>
                        <ul class="evoucher-conditionsUnderList">
                            <li>The event schedule is subject to change without prior notice.</li>
                            <li>Tickets are non-refundable and non-transferable unless specified by the event organizer.</li>
                            <li>The event organizer is not responsible for delays or cancellations caused by weather, technical issues, or unforeseen circumstances.</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        <div class="evoucher-infoItem">
            <div class="evoucher-wrapper">
                <h3>Venue Map</h3>
                <img src="~/images/Imge/Map.png" asp-append-version="true" alt="Map" class="" />
                <div>
                    <h4>Legend</h4>
                    <div class="evoucher-legendList">
                        <ul>
                            <li>Parking Area</li>
                            <li>Security Checkpoints</li>
                            <li>General Admission Area</li>
                            <li>Information Booth</li>
                        </ul>
                        <ul>
                            <li>Restrooms</li>
                            <li>Merchandise Booths</li>
                            <li>Art Installations Zone</li>
                            <li>Food & Beverage Area</li>
                        </ul>
                        <ul>
                            <li>Kid’s Zone</li>
                            <li>VIP Lounge</li>
                            <li>First Aid Station</li>
                            <li>Main Stage</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="evoucher-wrapper">
                <h3>Prohibited Items</h3>
                <div class="evoucher-Prohibited-tems">
                    <img src="~/images/icons/ProhibitedIcon.png" asp-append-version="true" alt="Prohibited icon" />
                    <img src="~/images/icons/IllegalIcon.png" asp-append-version="true" alt="Illegal icon" />
                    <img src="~/images/icons/AlcoholIcon.png" asp-append-version="true" alt="Alcohol icon" />
                    <img src="~/images/icons/RecordingIcon.png" asp-append-version="true" alt="Recording icon" />
                    <img src="~/images/icons/LargeIcon.png" asp-append-version="true" alt="Large icon" />
                    <img src="~/images/icons/NoNoiseIcon.png" asp-append-version="true" alt="NoNoise icon" />
                    <img src="~/images/icons/UnauthorizedIcon.png" asp-append-version="true" alt="Unauthorized icon" />
                    <img src="~/images/icons/NoPetsIcon.png" asp-append-version="true" alt="NoPets icon" />
                    <img src="~/images/icons/BicyclesIcon.png" asp-append-version="true" alt="Bicycles icon" />
                    <img src="~/images/icons/NoPicnicIcon.png" asp-append-version="true" alt="NoPicnic icon" />
                    <img src="~/images/icons/UmbrellasIcon.png" asp-append-version="true" alt="Umbrellas icon" />
                    <img src="~/images/icons/CampingIcon.png" asp-append-version="true" alt="Camping icon" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/EVoucherTicket.js"></script>
}